@model IEnumerable<RealRehearsalSpace.Models.BookedRoom>

@{
    ViewData["Title"] = "Index";
}

<h2 class="yourBookedRooms">Your Booked Rooms</h2>
<p class="theseBookedRooms">These Are The Rooms And Times You Have Booked</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTableId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTable.BookTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookedRoomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookedRoomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookedRoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
